body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(/img/olympics.jpg);
  background-attachment: fixed;
  background-position: center; */
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #fff;
  background: #2196f3;  /* colors tab hover */
}

/* hamburger styles */
.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.top {
  margin-top: 50px;
}

/* Selector menu - defines the layout for the dropdown container componenet as well as it's inner elements */

.hide {
  max-height: 0 !important;
}

.dropdown{
border: 0.1em solid black;
width: 10em;
margin-bottom: 1em;
}

.dropdown .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdown .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdown .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdown .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdown .menu .option:hover{
background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}


/* Media query section */

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active{
    /* display: none; */
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}


p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }